{% load staticfiles %}
<html>


    <head>
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

      <div class="page-header">
        <h1 class="side" id="petra">Petra</h1><h1 class="side" id="fied"> -fied</h1>
      </div>


        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>


    <body>

        <div class="content-container">
        <div class="row">
            <div id="col-md-8">

                {% for post in posts %}
                  <div id="postborder">  <div><h1 class="posttitle">{{ post.title }}</h1>  </div>
                    <div class="date">  <p>published: {{ post.published_date }}</p></div>
                    <div class="post"><p>{{ post.text|linebreaksbr }}</p></div></div>
                {% endfor %}


            </div>
        </div>
    </div>


    </body>
</html>
