.page-header {
    background-color:  #CA8F8C;
    margin-top: 30px;
    position: relative;
    height: 200px;
    padding: 20px 20px 20px 40px;
}

body {
  overflow-x: hidden;
  background-color: #FFFFFF;
}

#header2 {
  font-family: 'Amatic SC', cursive;
  font-size:25pt;
      color: #ffffff;
      top: -45px;
      position: relative;
       left: 48%;
}

.side { vertical-align:absbottom; display:inline }

#petra {
  font-family: 'Great Vibes', cursive;
  font-size:100pt;
      color: #ffffff;
        top: 10px;
      position: relative;
       left: 40%;
}
#fied {
  font-family: 'Amatic SC', cursive;
  font-size:56pt;
      color: #ffffff;
      top: 10px;
      position: relative;
       left: 40%;
}

.content-container
{
  position: relative;
 left: 100px;
 top: 30px;
}

#postborder
{
  background-color: #FFFFFF;
  border-radius: 25px;
  border: 2px solid #AC716E;
  padding: 30px;
  width: 60%;
}


.post {
  position: relative;
  top: -30px;
      font-family: 'arial';
    font-size: 24px;
}

.posttitle {
  position: relative;
  top: -30px;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

.date {
  position: relative;
  top: -30px;
    color: #828282;
    font-size: 16px;
    font-family: 'arial';
}

.post-form textarea, .post-form input {
    width: 100%;
}




.post h1 a, .post h1 a:visited {
    color: #000000;
}
